{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

<main class="gh-main">
    <article class="gh-article">
        <header class="gh-article-header gh-canvas">
            <h1 class="gh-article-title is-title">Our People</h1>
        </header>
        <section class="gh-canvas is-body">
            <div class="gh-container is-staff">
                {{#get "authors"}}
                    {{! Loop through authors }}
                    {{#foreach authors}}
                        <table class="gh-card-wrapper is-staff">
                            <tbody>
                                <tr class="bio is-staff">
                                    <td><a href="{{url}}"><img src="{{profile_image}}"></a></td>
                                </tr>
                                <tr class="name is-staff">
                                    <td>
                                        <h2><a href="{{url}}">{{name}}</a></h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="bio is-staff">
                                        <p>{{bio}}</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    {{/foreach}}
                {{/get}}
            </div>
        </section>
    </article>
</main>